{% load static %}
<html>
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">

      {% block titulonavbar %}
      {% endblock %}
      
  </head>
  <body>

    <div>
      {% block navbar %}        
      {% endblock %}
    </div>

    {% block destaque %}
    <div class="bg-secondary">
      Figuras de destaque
    </div>
    {% endblock %}

    {% block conteudo %}  
    <h1>Teste conteudo</h1>
    {% endblock %}

    {% block rodape %}
    <div class="bg-light">
      Rodapé
    </div>
    {% endblock %}

  </body>
</html>